p {
    user-select: none;
}


body {
  margin: 0;
  padding: 0;
  background: #141414; 
}

#canvas-background {
  position: fixed; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2; 
}

main, header {
  position: relative; 
  z-index: 2;
  text-align: center; 
  color: #333;
}

#top-bar {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  white-space: nowrap;
  list-style: none;
  padding: 20px;
  margin: 0;
  background-color: #333;
  box-shadow: 0px 10px 8px 1px rgba(0, 0, 0, 0.2)
}

#top-bar li {
  margin-right: 25px;
  padding-left: 20px;
}

#top-bar li a {
  color: white;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 20px;
  position: relative;
  padding-bottom: 5px;
}

#top-bar li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(23, 116, 209);
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
  transform-origin: center;
}

#top-bar li a:hover::after {
  transform: scaleX(1);
}

#name-header {
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 250px;
  padding-bottom: 500px;
}

#name-header-specific {
    color: rgb(58, 155, 211);
}


.page-text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black; 
    background-color: #333; 
    width: 100;
    height: 100;
}
#about-me {
    font-size: 20px;
}

#about-me-info {
    font-size: 15px;
}

